.carousel-item img {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-height: 80vh;
    min-height: 80vh;
  }

.carousel {
    height: 80vh;
    min-height: 80vh;
}